<h1>List of Short URLs</h1>

<h2>Total short url created: <%= "#{@count}" %></h2>
<table>
  <thead>
  <tr>
    <td>Long Url</td>
    <td>Short Url</td>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.post_long_url %></td>
      <td data-controller='clipboard'>
        <span data-clipboard-target="alias"><%= link_to "#{post.post_short_url}#{post.post_alias}", post.post_alias %></span>
        <button data-action="click->clipboard#copy">copy</button>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Create Short URL", new_post_path %>


